{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jsx-a11y/recommended",
      "plugin:import/typescript",
      "plugin:react/jsx-runtime"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "plugins": ["react", "import", "jsx-a11y"],
    "rules": {
      "camelcase": [1, { "properties": "always" }],
      "indent": ["error", 2],
      "quotes": ["error", "single"],
      "semi": [2, "never"]
    }
}